@model MeetU.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div id="socialLoginList" class="form-group">
            @foreach (AuthenticationDescription p in loginProviders)
            {
                <button type="submit" class="btn btn-success btn-block form-control login-button" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                    Log in with @p.AuthenticationType
                </button>
            }
        </div>
    }
}
