@model MeetU.Models.Meetup

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>

<div class="panel panel-default">

    <div class="panel-heading">
        <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-success">9</button>
        </div>

        <div class="btn-group btn-group-sm" role="group">
            <a type="button" class="btn btn-info" href='@Url.Action((ViewBag.IsJoined ? "UnJoin" : "Join"), "Joins", new { meetupId =  Model.Id })'>
                @if (ViewBag.IsJoined)
                {
                    <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                }
            </a>
            <button type="button" class="btn btn-success">@ViewBag.JoinedNum</button>
        </div>
    </div>

    <div class="panel-body">
        <h2 class="text-primary">@Model.Title</h2>
        <h4>
            <span class="label label-info">@Model.Sponsor at @Model.CreatedAt.ToShortDateString()</span>
        </h4>
        <hr>
        <div class="jumbotron">
            @Model.Description
        </div>
    </div>

    <div class="panel-footer">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
