@model IEnumerable<MeetU.Models.Meetup>

@{
    ViewBag.Title = "Meetups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <br />
    <a class="btn btn-success" href='@Url.Action("Create")'><span class="glyphicon glyphicon-plus"></span> New Meetup </a>
    <hr />
</p>

@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6>
                <strong> @item.Title</strong> <span class="label label-default"> 45 | 32</span>
            </h6>
        </div>
        <div class="panel-body">
            <div class="btn-group" role="group">
                <a class="btn btn-default" data-toggle="collapse" href='@("#Where" + item.Id.ToString())' aria-expanded="false" aria-controls="collapseExample">
                    <span class="glyphicon glyphicon-road"></span> Where
                </a>

                <a class="btn btn-default" data-toggle="collapse" href='@("#When" + item.Id.ToString())' aria-expanded="false" aria-controls="collapseExample">
                    <span class="glyphicon glyphicon-time"></span> When
                </a>

                <a class="btn btn-info" href='@Url.Action("Details", "Meetups", new { id = item.Id })' >
                    <span class="glyphicon glyphicon-th"></span> Detail
                </a>

            </div>

            <div class="collapse" id='@("Where" + item.Id.ToString())'>
                <h4>
                    <span class="label label-default">
                        @item.Where
                    </span>
                </h4>
            </div>

            <div class="collapse" id='@("When" + item.Id.ToString())'>
                <h4>
                    <span class="label label-default">
                        @item.Date.ToShortDateString()&nbsp;&nbsp;&nbsp;@item.When
                    </span>
                </h4>
            </div>
        </div>
    </div>
}

