@model IEnumerable<MeetU.Models.Meetup>

@{
    ViewBag.Title = "Meetups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" ng-app="meetupModule">

    <div ng-controller="meetupIndexController">
        <div class="col-md-1"></div>
        <div class="col-md-8 ng-cloak">
            <div ng-repeat="meetupView in meetupViews">
                <div class="meetup-wrapper">
                    <div class="meetup-brief" ng-click="showDetails = ! showDetails">
                        <div class="meetup-from col-sm-10 col-xs-10">
                            <span>@@{{ meetupView.sponsorUserName }} 发起了活动</span>
                        </div>
                        <div class="meetup-catagory-logo col-sm-1 col-xs-1"></div>
                        <div class="meetup-content-wrapper col-sm-10 col-xs-9">
                            <div class="meetup-title">
                                <span class="text-capitalize"> {{ meetupView.meetup.title }}</span>
                            </div>
                            <div class="meetup-description">
                                <span>{{ meetupView.meetup.description }}</span>
                            </div>
                        </div>
                        <div class="meetup-join-button-container col-sm-2 col-xs-3">
                            <div class="btn-group btn-group-xs meetup-join" ng-class="isIn(meetupView.joins) ? 'meetup-join-joined' : ''" role="group" ng-click="toggleJoin(meetupView);$event.stopPropagation();">
                                <button type="button" class="btn meetup-join-button">
                                    <span> {{isIn(meetupView.joins) ? 'Joined' : 'Join'}} </span>
                                </button>
                                <button type="button" class="btn meetup-join-count">
                                    <span> {{ meetupView.joins.length }} </span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="meetup-detail" ng-show="showDetails">
                        <div class="meetup-detail-container meetu-tab-container" ng-controller="TabController">
                            <ul class="meetup-detail-tabs meetu-tab-tabs">
                                <li class="meetu-tab-item" ng-class="{ active: isSet(1) }"><a ng-click="setTab(1)">Info</a></li>
                                <li class="meetu-tab-item" ng-class="{ active: isSet(2) }"><a ng-click="setTab(2)">Comments({{ meetupView.commentCount }})</a></li>
                            </ul>
                            <div class="meetup-detail-content meetu-tab-content-container">
                                <div ng-show="isSet(1)">
                                    <div>
                                        <span class="label label-default">Who</span>
                                        <span>{{ joinedUserNames(meetupView.joins)}}</span>
                                    </div>
                                    <div>
                                        <span class="label label-default">When</span>
                                        <span>
                                            {{ meetupView.meetup.when | date: "HH:mm" }} {{ meetupView.meetup.date | date:'dd-MM-yyyy' }}
                                        </span>
                                    </div>
                                    <div>
                                        <span class="label label-default">Where</span>
                                        <span>{{ meetupView.meetup.where }}</span>
                                    </div>
                                </div>
                                <div ng-show="isSet(2)">
                                    <div ng-repeat="cv in allCommentViews | filter : { meetupId : meetupView.meetup.id } | limitTo : -(numLimit || (numLimit = 5)) | orderBy:'-at'">
                                        <div class="small">
                                            <span class="meetup-comment-control">{{ cv.content }}</span>
                                            <span class="text-primary meetup-comment-control">{{ polishUserName( cv.by ) }}</span>
                                            <span class="text-primary meetup-comment-control" am-time-ago=cv.at></span>
                                            <div class="comment-delete-button meetup-comment-control" ng-click="deleteComment(cv.id)" ng-show="cv.by === userName">
                                                <span class="glyphicon glyphicon-trash"></span>
                                                <span>Delete</span>
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                    <div class="comment-paging-trigger" ng-click="numLimit = numLimit + 5;" ng-hide="numLimit >= (allCommentViews | filter : { meetupId : meetupView.meetup.id }).length">Show more comments...</div>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" style="max-width: 100%" placeholder="How about you?" ng-model="meetupView.newComment">
                                        <span class="input-group-btn">
                                            <button class="btn btn-success btn-sm" type="button" ng-click="addComment( meetupView )">Comment</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
        <div class="meetup-create ng-cloak">
            <a class="btn meetup-create-button" href='@Url.Action("Create")'><span class="glyphicon glyphicon-plus"></span></a>
        </div>
        <div class="cssload-loader" ng-hide="hasLoaded">
            <div class="cssload-inner cssload-one"></div>
            <div class="cssload-inner cssload-two"></div>
            <div class="cssload-inner cssload-three"></div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-resource.min.js")
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/angular-moment.min.js")
    @Scripts.Render("~/Scripts/app/meetu-meetup.js")
    @Scripts.Render("~/Scripts/app/meetu-tabController.js")
}