@model IEnumerable<MeetU.Models.Meetup>

@{
    ViewBag.Title = "Meetups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" ng-app="meetupModule">
    <div ng-view>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/Scripts/underscore.min.js")
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-resource.min.js")
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/angular-moment.min.js")
    @Scripts.Render("~/Scripts/angular-route.min.js")
    @Scripts.Render("~/Scripts/Controllers/meetup-controller.js")
    @Scripts.Render("~/Scripts/Controllers/tab-controller.js")
    @Scripts.Render("~/Scripts/Router/router-config.js")
}