@model IEnumerable<MeetU.Models.Meetup>

@{
    ViewBag.Title = "Meetups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" ng-app="meetupModule">
    <div ng-view>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/Scripts/underscore.min.js")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-resource.min.js")
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/angular-moment.min.js")
    @Scripts.Render("~/Scripts/angular-route.min.js")
    @Scripts.Render("~/Scripts/Controllers/Meetup/index.js")
    @Scripts.Render("~/Scripts/Controllers/Meetup/create.js")
    @Scripts.Render("~/Scripts/Controllers/Mixins/tab.js")
    @Scripts.Render("~/Scripts/Directives/history-back.js")
    @Scripts.Render("~/Scripts/Router/router-config.js")
    @Scripts.Render("http://maps.googleapis.com/maps/api/js?libraries=places")
    @Scripts.Render("~/Scripts/jquery.placepicker.min.js")
    @Scripts.Render("~/Scripts/jquery.datetimepicker.full.min.js")
}