@model MeetU.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<br />

<style>
    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width: 500px;
        height: 350px;
    }

</style>

<div ng-app="profileModule">

    <div class="row" ng-controller="profileController">


        <div>Select an image file: <input type="file" id="fileInput" /></div>
        <div class="cropArea" ng-init="isShowPic=false" ng-show="isShowPic">
            <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
        </div>
        <div>Cropped Image:</div>
        <div><img ng-src="{{myCroppedImage}}" /></div>

        <div class="col-md-1"></div>

        @* Proile *@
        <div class="col-md-4 text-center">
            <div class="panel panel-default" style="max-width: 100%">
                <div class="panel-heading" style="text-align:left">Public Profile</div>
                <div class="panel-body">
                    <br /><br />
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-info">New</button>
                        <button type="button" class="btn btn-info" ng-click="isShowPic=false">Update</button>
                    </div>
                    <br />
                    <hr style="margin-top:20px; margin-bottom:20px" />
                    <h2>Yue.Wang</h2>
                    <h4>
                        No. <span style="color:aliceblue; background-color:#5cb85c; font-size:14px; padding:4px; border-radius:4px;">11</span>
                    </h4>
                    <br />
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" style="max-width:100%" placeholder="New nick name?">
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button">Update</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
        </div>

    </div>
</div>


@section scripts{
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-resource.min.js")
    @Scripts.Render("~/Scripts/ng-file-upload-all.min.js")
    @Scripts.Render("~/Scripts/ng-img-crop.js")
    @Styles.Render("~/Content/ng-img-crop.css")
    @Scripts.Render("~/Scripts/mu-profile.js")
}